.footer {
  padding: 32px 0;
  position: relative;
  background-image: url('../images/footer-back.png');
  background-color: var(--color-primary-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer::after,
.footer::before {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  bottom: 0;
}

.footer::before {
  background-image: url('../images/twopiecesofbread.png');
  width: 180px;
  height: 120px;
  left: 0;
}
footer::after {
  background-image: url('../images/onebread.png');
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}
.footer-menu,
.footer-logo {
  flex-grow: 1;
}
.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}
.address-icon {
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-normal);
}
.address-copyright {
  font-size: 14;
  color: var(--color-primary-light);
}
