.flex-container{
display:flex;
justify-content:center;
}
* {
  box-sizing: border-box;
}
.box{
 
  flex-basis: 100px; ;
  height: 100px; ;
  background-color: blue;
  padding:16px 42px 16px 42px ;
  border: 5px dotted darkred;
  margin: 10px 0;
 
}